.flexContainer {
    display: flex;
    justify-content: space-around;
}

.box {
    border: none;
    border-radius: 10px;
    box-shadow: grey 0 0 1em 0;
    width: 300px;
    padding: 1em;
}

.button {
    padding: 1em;
    border-radius: 10px;
}
